.hero {
  padding: 64px 0 100px 0;
  background-color: #232323;
  background-image: url('../images/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;

  background-blend-mode: overlay;

  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: black;
  //   content: "";
  // }

  &__logo {
    margin: 0 auto;
    height: 80px;
    display: block;
  }

  &__text {
    margin: 64px 0;
    font-size: 40px;
    line-height: 56px;
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 640px) {
    padding: 40px 0;

    &__logo {
      height: 40px;
    }

    &__text {
      font-size: 22px;
      line-height: 24px;
      margin: 24px 0;
    }
  }
}
